.section-content {
  padding: 80px 24px;
}

#content-header-bg {
  height: 64px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: 10;
}
#content-header {
  background: none;
  color: #fff;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

#header {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#header img {
  min-height: 100%;
  min-width: 100%;
}

#header-overlay {
  align-items: center;
  background: rgba(0,0,0,.54);
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 80px 0;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 960px) {
  #header-overlay h1 { font-size: 4em; }
  #header-overlay h3 { font-size: 1.5em; }
}

#header-scroll-button {
  bottom: 20px;
  height: 64px;
  position: absolute;
  width: 64px;
}

#projects,
#contact {
  height: auto !important;
}

.grid {
  text-align: center;
}

.grid md-card {
  text-align: left;
  display: inline-block;
  height: 200px;
  margin: 20px;
  position: relative;
  width: 300px;
  vertical-align: top;
}

.grid md-card-actions {
  position: absolute;
  bottom: 24px;
}

.grid md-card-title { font-size: 1.5em }
.grid md-card-content { font-size: 1em }

#contact a {
  height: 64px;
  line-height: 64px;
  width: 64px;
  margin: 8px 2%;
}
#contact .fa {
  border-radius: 99px;
  color: #fff;
  height: 48px;
  line-height: 48px;
  width: 48px;
}
