<div id="content-header-bg" class="bg-primary" sw-fade-scroll></div>
<md-toolbar id="content-header">
  <span class="flex"></span>
  <a md-button color="warn" href="#" [scrollTo]="'contact'">
    Contact
  </a>
</md-toolbar>

<div id="content">
  <div id="header">
    <img src="/assets/header-image.jpg">
    <div id="header-overlay">
      <div style="text-align: center; padding: 0 15%;">
        <h1>Scott Wilde</h1>
        <h3>
          I am a student at the University of Wisconsin - Madison, studying
          Computer Engineering and Computer Science.
        </h3>
      </div>
      <a md-icon-button id="header-scroll-button" color="warn" href="#" [scrollTo]="'projects'">
        <md-icon style="font-size: 64px">keyboard_arrow_down</md-icon>
      </a>
    </div>
  </div>

  <div id="projects">
    <div class="section-content">
      <h2 class="primary" style="text-align: center;">Projects</h2>
      <div class="grid">
        <md-card *ngFor="let project of projects">
          <md-card-header>
            <md-card-title>{{ project.title }}</md-card-title>
            <md-card-subtitle>{{ project.languages }}</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <p>{{ project.desc }}</p>
          </md-card-content>
          <md-card-actions>
            <a md-button color="accent" [href]="'https://github.com/sw8lde' + project.code">code</a>
            <a md-button color="accent" [href]="project.link" *ngIf="project.link">link</a>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>

  <div id="contact" class="section-content"
    style="background-color: #eceff1">
    <div style="text-align: center;">
      <h2 class="primary">Contact</h2>
      <a md-icon-button href="mailto:sw8lde@gmail.com">
        <i class="fa fa-envelope-o fa-2x"
          style="background: #f44336"></i>
      </a>
      <a md-icon-button href="https://github.com/sw8lde/">
        <i class="fa fa-github fa-2x"
          style="background: #212121"></i>
      </a>
      <a md-icon-button href="https://www.linkedin.com/in/scott-wilde-118941135/">
        <i class="fa fa-linkedin fa-2x"
          style="background: #0077b5"></i>
      </a>
    </div>
  </div>
</div>
